.manageRow {
    border : 1px solid #ddd;
    padding: 10px;
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}

.pull-right {
    float: right;
}

.switchBar {
    margin-top: 14px;
}

div.ReactModal__Content{
    overflow: visible !important;
}

.modalCrossButton {
    position: absolute;
    top : -15px;
    right : -15px;
    border-radius: 20px;
}

div.highcharts-container {
    height : 480px;
}


