<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1000/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head th:replace="adminfragments/header :: common-header">

    <link href="../../../static/customCSS/multiselect/multi-select.css" th:href="@{/customCSS/multiselect/multi-select.css}" rel="stylesheet" />
</head>

<body class="theme-red">
<!-- Page Loader -->
<div th:replace="adminfragments/header :: navbar"></div>
<section class="content">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Movie Section</h2>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="header">
                        <h2>ADD NEW MOVIE</h2>

                    </div>
                    <div class="body">
                        <form id="form_advanced_validation" method="POST" th:action="@{/add/movie}" enctype="multipart/form-data">

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="movieName" required>
                                    <label class="form-label">Movie Name</label>
                                </div>

                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="leadRole" required>
                                    <label class="form-label">Lead Role</label>
                                </div>

                            </div>

                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="writer" required>
                                    <label class="form-label">Writer</label>
                                </div>

                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="director" required>
                                    <label class="form-label">Director</label>
                                </div>

                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="producer" required>
                                    <label class="form-label">Producer</label>
                                </div>

                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="production" required>
                                    <label class="form-label">Production</label>
                                </div>

                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="file" class="form-control" name="movieImage" required>
                                    <label class="form-label">Movie Image</label>
                                </div>

                            </div>
                            <div class="form-group form-float">
                                <div class="form-line">
                                    <input type="date" class="datepicker form-control" name="releaseDate" required>

                                </div>
                                <div class="help-info">Release date: Eg:12/11/2017</div>

                            </div>
                            <div class="form-group">
                                <div class="form-line">
                                    <input type="text" class="form-control" name="language" required>
                                    <label class="form-label">Language</label>
                                </div>

                            </div>
                            <div class="body">
                                <div class="row clearfix">
                                    <div class="col-sm-6">

                                        <select multip name="genre.id" >
                                            <option value="">-- Please select --</option>
                                          <option th:each="genrelist:${genrelist}" th:text="${genrelist.genre}" th:value="${genrelist.id}"></option>

                                        </select>
                                    </div>

                                </div>
                            </div>
                            <div class="form-group form-float">
                                <div class="demo-checkbox">
                                    <input type="checkbox" id="basic_checkbox_1" name="bookingOpen" >
                                    <label for="basic_checkbox_1">Booking Open</label>
                                </div>

                            </div>

                            <button class="btn btn-primary waves-effect" type="submit">SUBMIT</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<!-- Jquery Core Js -->
<div th:replace="adminfragments/scripts :: scriptTwo "></div>
<script src="../../../static/js/jquery.multi-select.js" th:src="@{/js/jquery.multi-select.js}"></script>
</body>

</html>