<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1000/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="fragments/header :: common-header">
</head>
<link href="/static/customCSS/login.css" rel="stylesheet" th:href="@{/customCSS/login.css}"/>
<!--Start : Body-->
<body>
<!--Start: Navbar-->
<div th:replace="fragments/header :: navbar"></div>
<!--End: Navbar-->

<!--Start: Container-->
<div class="container">
    <div class="row" style="margin-bottom: -100px;">
        <div class="col-xs-8">
            <h2 class="section-headline">
                <span>Users Account</span>
            </h2>
        </div>
        <div class="col-xs-4">
            <img class="img-responsive" id="movie_side_logo" src="../static/savedImages/movie_side_logo.png"
                 th:src="@{/savedImages/movie_side_logo.png}"/>
        </div>
    </div>
    <hr id="movie_side_logo_hr"/>
    <img class="img-responsive" src="../static/savedImages/wood.png" th:src="@{/savedImages/wood.png}"/>
    <div class="row" id="myAccount_row_panel">
        <div class="col-xs-9 col-xs-offset-3">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li th:classappend="${classActiveNewAccount}? 'active'">
                    <a href="#tab-1" data-toggle="tab"><span style="color:red;">
                        Create neww account</span>
                    </a>
                </li>
                <li th:classappend="${classActiveLogin}? 'active'"><a href="#tab-2" data-toggle="tab"><span style="color:red;">Login</span></a></li>
                <li th:classappend="${classActiveForgetPassword}? 'active'"><a href="#tab-3" data-toggle="tab"><span style="color:red;">Forget Password</span></a></li>
            </ul>

            <!-- Tab panels -->
            <div class="tab-content">
                <!-- For Tab 1 Create new account panel -->
                <div class="tab-pane fade" id="tab-1"
                     th:classappend="${classActiveNewAccount}? 'in active'"
                >
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
                                <div class="alert alert-info" th:if="${emailSent}">
                                    An email has been sent to the email address you just registered.
                                    Please validate your email address and update your password
                                    information.
                                </div>
                                <div class="alert alert-danger" th:if="${emailNotSent}">
                                    Error while sending the email. Please input correct email address.
                                </div>
                                <form th:action="@{/newUser}" method="post">
                                    <div class="form-group">
                                        <label for="newUsername">* Username:</label> &nbsp;
                                        <span style="color: red;" th:if="${usernameExists}">
                                            Username already exists. Choose a different one.
                                        </span>
                                        <input required="required" type="text" class="form-control" id="newUsername"
                                               name="username"/>
                                        <p style="color:#828282">Enter your username here.</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="email">* Email Address:</label> &nbsp;
                                        <span style="color: red;" th:if="${emailExists}">
                                            Email already exists. Choose a different one.
                                        </span>
                                        <input required="required" type="text" class="form-control"
                                               id="email" name="email"/>
                                        <p style="color:#828282">A valid email address.
                                            All emails from the system will be sent to this address.
                                            The email address is not made public and will only be used
                                            if you wish to receive a new password
                                            or wish to receive certain notifications.
                                        </p>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Create a new account</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- For Tab 2 Login panel -->
                <div class="tab-pane fade" id="tab-2"
                    th:classappend="${classActiveLogin}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
                                <div th:if="${param.error != null}" style="color: red;">
                                    Incorrect Username or Password.
                                </div>
                                <form th:action="@{/login}" method="post">
                                    <div class="form-group">
                                        <label for="newUsername">* Username:</label>
                                        <input required="required" type="text" class="form-control" id="username"
                                               name="username"/>
                                        <p style="color:#828282">Enter your username here.</p>
                                    </div>
                                    <div class="form-group">
                                        <label for="password">* Password:</label>
                                        <input required="required" type="password" class="form-control"
                                               id="password" name="password"/>
                                        <p style="color:#828282">Enter the password that accompanies your username.
                                        </p>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Log in</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- For Tab 3 Forget password panel -->
                <div class="tab-pane fade" id="tab-3"
                    th:classappend="${classActiveForgetPassword}? 'in active'">
                    <div class="panel-group">
                        <div class="panel panel-default" style="border: none;">
                            <div class="panel-body" style="background-color: #ededed; margin-top: 20px;">
                                <div th:if="${emailNotExists}" class="alert alert-danger">
                                    Email doesn't exist
                                </div>
                                <div th:if="${forgetPasswordEmailSent}" class="alert alert-success">
                                    Email sent.
                                </div>
                                <form th:action="@{/forgetPassword}" method="post">
                                    <div class="form-group">
                                        <label for="recoverEmail">* Your Email:</label>
                                        <input required="required" type="text" class="form-control" id="recoverEmail"
                                               name="email"/>
                                        <p style="color:#828282">Enter your registered email address here.</p>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!--End: Container-->
<!-- /.login-box -->

<!-- jQuery 2.2.3 -->
<script>
    // When the user clicks on div, open the popup
    function myFunction() {
        var popup = document.getElementById("myPopup");
        popup.classList.toggle("show");
    }
</script>
<!--Start :  The bottom part containing scripts-->
<div th:replace="fragments/header :: body-bottom-scripts"></div>
<!--End :  The bottom part containing scripts-->
</body>
</html>

