/*
.heading_style{
    color:#337ab7;
    margin-left: 14%;
    font-size: 26px;
    font-family: serif;
}
.div_username_style{
    margin-top:25px;
}
.invalid_style{
    font-size: 15px;
    color: #FF1C19;
}*/
.section-headline {
    font-family: 'Times New Roman',Times,serif;
    font-size: 24px;
    color: #fff;
    margin: auto;
    text-align: center;
    margin-top: 50px;
}

.section-headline span {
    background-color: #231F20;
    padding: 5px 22px;
}
#movie_side_logo{
    height: 180px;
    margin-top: -25px;
}
#movie_side_logo_hr{
    position: absolute;
    width:90%;
    height:6px;
    background-color: #333;
    z-index: -1;
    margin-top:-25px;
}

#myAccount_row_panel{
    margin-top:60px;
}