<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="footer">
    <br />
    <br />
    <footer>
        <div class="row">
            <div class="col-xs-3 footerleft">
                <div class="logofooter">
                    <a th:href="@{/}"><img class="img-responsive"
                                           src="/image/logo.png" style="width: 200px;" /></a>
                </div>
                <p>
                    Le's Independent Book Store. <br />Serving our customers with the
                    best.
                </p>
            </div>
            <div class="col-xs-3 paddingtop-bottom">
                <h6 class="heading7">CONTACT</h6>
                <ul class="post">
                    <p>
                        <i class="fa fa-map-pin"></i> 123 XXX Ave<br /> Boston MA, USA
                        02112
                    </p>
                    <p>
                        <i class="fa fa-phone"></i> Phone (USA) : +1 999 999 9999
                    </p>
                    <p>
                        <i class="fa fa-envelope"></i> E-mail : info@lebookstore.com
                    </p>
                </ul>
            </div>
            <div class="col-xs-3 paddingtop-bottom">
                <h6 class="heading7">LINKS</h6>
                <ul class="footer-ul">
                    <li><a href="#"> Privacy Policy</a></li>
                    <li><a href="#"> Terms &#38; Conditions</a></li>
                    <li><a href="#"> Frequently Ask Questions</a></li>
                </ul>
            </div>
            <div class="col-xs-3 paddingtop-bottom">
                <h6 class="heading7">STORE HOURS</h6>
                <div class="post">
                    <p>Monday - Saturday: 9am - 11pm</p>
                    <p>Sunday: 10am - 10pm</p>
                </div>
            </div>
        </div>
    </footer>

    <div class="copyright">
        <div class="col-md-6">
            <p>© 2017 - All Rights Reserved</p>
        </div>
        <div class="col-md-6">
            <ul class="bottom_ul">
                <li><a href="#">About us</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">Faq's</a></li>
                <li><a href="#">Contact us</a></li>
                <li><a href="#">Site Map</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>