<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="common-header">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="profile" href="http://gmpg.org/xfn/11" />
    <link rel="pingback" href="xmlrpc.php" />
    <title>OMB Demo &#8211; Online Movies Booking</title>
    <meta name='robots' content='noindex,follow' />
    <link rel='dns-prefetch' href='http://apis.google.com/' />
    <link rel='dns-prefetch' href='http://s7.addthis.com/' />
    <link rel='dns-prefetch' href='http://maps.google.com/' />
    <link rel='dns-prefetch' href='http://fonts.googleapis.com/' />
    <link rel='dns-prefetch' href='http://s.w.org/' />
    <link rel="alternate" type="application/rss+xml" title="OMB Demo &raquo; Feed" href="feed/index.html" />
    <link rel="alternate" type="application/rss+xml" title="OMB Demo &raquo; Comments Feed" href="comments/feed/index.html" />
    <script type="text/javascript">
        window._wpemojiSettings = {"baseUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/72x72\/","ext":".png","svgUrl":"https:\/\/s.w.org\/images\/core\/emoji\/2.4\/svg\/","svgExt":".svg","source":{"concatemoji":"http:\/\/demo.aa-team.com\/tf\/omb\/wp-includes\/js\/wp-emoji-release.min.js?ver=4.9.5"}};
        !function(a,b,c){function d(a,b){var c=String.fromCharCode;l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,a),0,0);var d=k.toDataURL();l.clearRect(0,0,k.width,k.height),l.fillText(c.apply(this,b),0,0);var e=k.toDataURL();return d===e}function e(a){var b;if(!l||!l.fillText)return!1;switch(l.textBaseline="top",l.font="600 32px Arial",a){case"flag":return!(b=d([55356,56826,55356,56819],[55356,56826,8203,55356,56819]))&&(b=d([55356,57332,56128,56423,56128,56418,56128,56421,56128,56430,56128,56423,56128,56447],[55356,57332,8203,56128,56423,8203,56128,56418,8203,56128,56421,8203,56128,56430,8203,56128,56423,8203,56128,56447]),!b);case"emoji":return b=d([55357,56692,8205,9792,65039],[55357,56692,8203,9792,65039]),!b}return!1}function f(a){var c=b.createElement("script");c.th:src=a,c.defer=c.type="text/javascript",b.getElementsByTagName("head")[0].appendChild(c)}var g,h,i,j,k=b.createElement("canvas"),l=k.getContext&&k.getContext("2d");for(j=Array("flag","emoji"),c.supports={everything:!0,everythingExceptFlag:!0},i=0;i<j.length;i++)c.supports[j[i]]=e(j[i]),c.supports.everything=c.supports.everything&&c.supports[j[i]],"flag"!==j[i]&&(c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&c.supports[j[i]]);c.supports.everythingExceptFlag=c.supports.everythingExceptFlag&&!c.supports.flag,c.DOMReady=!1,c.readyCallback=function(){c.DOMReady=!0},c.supports.everything||(h=function(){c.readyCallback()},b.addEventListener?(b.addEventListener("DOMContentLoaded",h,!1),a.addEventListener("load",h,!1)):(a.attachEvent("onload",h),b.attachEvent("onreadystatechange",function(){"complete"===b.readyState&&c.readyCallback()})),g=c.source||{},g.concatemoji?f(g.concatemoji):g.wpemoji&&g.twemoji&&(f(g.twemoji),f(g.wpemoji)))}(window,document,window._wpemojiSettings);
    </script>
    <style type="text/css">
        img.wp-smiley,
        img.emoji {
            display: inline !important;
            border: none !important;
            box-shadow: none !important;
            height: 1em !important;
            width: 1em !important;
            margin: 0 .07em !important;
            vertical-align: -0.1em !important;
            background: none !important;
            padding: 0 !important;
        }
    </style>
    <link rel='stylesheet' id='aasfc-style-css'  th:href="@{wp-content/plugins/aa-social-followers-counter-lite/css/style_frontend55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='contact-form-7-css'  th:href="@{wp-content/plugins/contact-form-7/includes/css/styles972f.css?ver=5.0.1}" type='text/css' media='all' />
    <link rel='stylesheet' id='rs-plugin-settings-css'  th:href="@{wp-content/plugins/revslider/public/assets/css/settings78d9.css?ver=5.4.3.1}" type='text/css' media='all' />
    <style id='rs-plugin-settings-inline-css' type='text/css'>
        .tp-caption.MarkerStyle{font-style:italic !important}
    </style>
    <link rel='stylesheet' id='TMDB-movie-styles-css'  th:href="@{wp-content/plugins/tmdb/templates/assets/tmdb-style526d.css?1524063764}" type='text/css' media='all' />
    <link rel='stylesheet' id='omb-fonts-css'  href='http://fonts.googleapis.com/css?family=Lato%3A400%2C900italic%2C400italic%2C900%2C300%2C300italic%2C700%2C700italic%7CYantramanav%3A400%2C900%2C300%2C100%2C500%2C700%7CMerriweather%3A400%2C400italic%2C300%2C300italic%2C700%2C900%2C700italic%2C900italic&amp;ver=1.0.0' type='text/css' media='all' />
    <link rel='stylesheet' id='omb-bootstrap-min-css'  th:href="@{wp-content/themes/omb/css/bootstrap.min55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='font-awesome-css'  th:href="@{wp-content/themes/omb/css/font-awesome.min55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='omb-moon-icons-css'  th:href="@{wp-content/themes/omb/css/moon-icons55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='owl-carousel-css'  th:href="@{wp-content/themes/omb/owl-carousel/owl.carousel55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='magnific-popup-css'  th:href="@{wp-content/themes/omb/magnific-popup/magnific-popup55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='omb-wp-style-css'  th:href="@{wp-content/themes/omb/style55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='omb-main-style-css'  th:href="@{wp-admin/admin-ajax0a98.css?action=omb_frontend_style&amp;ver=4.9.5}" type='text/css' media='all' />
    <link rel='stylesheet' id='aa-megamenu-css'  th:href="@{/wp-content/plugins/mega-menu/assets/menu-core55fe.css?ver=4.9.5}" type='text/css' media='all' />
    <script type='text/javascript' th:src="@{/wp-includes/js/jquery/jqueryb8ff.js?ver=1.12.4}"></script>
    <script type='text/javascript' th:src="@{/wp-includes/js/jquery/jquery-migrate.min330a.js?ver=1.4.1}"></script>
    <script type='text/javascript' th:src="@{/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.tools.min78d9.js?ver=5.4.3.1}"></script>
    <script type='text/javascript' th:src="@{/wp-content/plugins/revslider/public/assets/js/jquery.themepunch.revolution.min78d9.js?ver=5.4.3.1}"></script>
    <!--[if lt IE 9]>
    <script type='text/javascript' th:src='http://demo.aa-team.com/tf/omb/wp-content/themes/omb/js/html5.js?ver=4.9.5'></script>
    <![endif]-->
    <link rel='https://api.w.org/' th:href="@{wp-json/index.html}" />
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="xmlrpc0db0.php?rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" th:href="@{/wp-includes/wlwmanifest.xml}" />
    <meta name="generator" content="WordPress 4.9.5" />
    <link rel="canonical" href="index.html" />
    <link rel='shortlink' href='index.html' />
    <link rel="alternate" type="application/json+oembed" th:href="@{wp-json/oembed/1.0/embedd642.json?url=http%3A%2F%2Fdemo.aa-team.com%2Ftf%2Fomb%2F}" />
    <link rel="alternate" type="text/xml+oembed" th:href="@{wp-json/oembed/1.0/embed6064?url=http%3A%2F%2Fdemo.aa-team.com%2Ftf%2Fomb%2F&amp;format=xml}" />
    <style>.tmdb {
    }
    </style>
    <style type="text/css">.recentcomments a{display:inline !important;padding:0 !important;margin:0 !important;}</style>
    <meta name="generator" content="Powered by Slider Revolution 5.4.3.1 - responsive, Mobile-Friendly Slider Plugin for WordPress with comfortable drag and drop interface." />
    <script type="text/javascript">function setREVStartSize(e){
        try{ var i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
            if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})
        }catch(d){console.log("Failure at Presize of Slider:"+d)}
    };
    </script>
</head>
<body>
<header th:fragment="top-bar">
<div class="container" >
    <a class="logo" href="index.html" title="OMB Demo">
        <img th:src="@{/wp-content/uploads/2016/01/logo.png}" alt="OMB Demo">
    </a>
    <div class="omb-menu content-wrapper">
        <div id="aa-mega-menu-wrap-omb-top-menu" class="aa-mega-menu-wrap">
            <div class='aa-mega-menu-brand'><span>Top menu</span> <i class='fa fa-bars'></i></div>
            <ul id="aa-mega-menu-omb-top-menu" class="aa-mega-menu" data-trigger="hover" data-effect="none" data-css3animations="none">
                <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-285 aa-mega-menu-item align-left menu-flyout'><a th:href="@{/}">Home</a></li>
                <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-285 aa-mega-menu-item align-left menu-flyout'><a th:href="@{/movies-list}">Movie List</a></li>
                <li class='menu-item menu-item-type-post_type menu-item-object-page menu-item-302 aa-mega-menu-item align-left menu-flyout'id='aa-mega-menu-item-302'><a th:href="contactus">Contact</a></li>

            </ul>
        </div>
    </div>

</div>
</header>
</body>
</html>